@using World_of_Soccer.Models;
@model World_of_Soccer.Models.TeamViewModel;
@{
    Team team = ViewData["team"] as Team;
    Layout = "_Layout";
}

<h4>ጠም Entry Form</h4>
<hr />
<form asp-controller="Team" asp-action="UpdateTeam" enctype="multipart/form-data"
      method="post" class="mt-3">

    <div class="form-group row">
        <label asp-for="TeamId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input hidden asp-for="TeamId" class="form-control mb-2" value="@Model.TeamId"/>
            <span asp-validation-for="TeamId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="ShortTeamName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ShortTeamName" class="form-control mb-2" value="@Model.ShortTeamName" />
            <span asp-validation-for="ShortTeamName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="TeamName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="TeamName" class="form-control mb-2" value="@Model.TeamName" />
            <span asp-validation-for="TeamName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="CoachName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="CoachName" class="form-control mb-2" value="@Model.CoachName" />
            <span asp-validation-for="CoachName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="TeamLogo" class="col-sm-2 col-form-label mb-2"></label>
        <div class="col-sm-10">
            <input asp-for="TeamLogo" class="form-control">
            <span asp-validation-for="TeamLogo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Kits" class="col-sm-2 col-form-label mb-2"></label>
        <div class="col-sm-10">
            <input asp-for="Kits" class="form-control">
            <span asp-validation-for="Kits" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="UpdateTeam" class="btn btn-primary bm-2" />
    </div>
</form>
<div>
    <a asp-controller="Team" asp-action="GetAllTeams">Back to List</a>
</div>
